@{
    ViewBag.Title = "Lauren Home";
}

<div class="jumbotron">
    <h1>Lauren was here!</h1>
    <p class="lead">Continuously integrating via GitHub and Azure!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>See "Create an ASP.NET web app in Azure App Service".</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us/documentation/articles/web-sites-dotnet-get-started/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>